@use "../var";
header {
	@include row(flex-start, center, nowrap);
	width: 100%;
	color: var.$text;
	padding: 0.5rem 1rem;
	.content {
		img {
			height: 2rem;
		}
		@include row(flex-start, flex-end, nowrap);
	}
	.connect {
		margin-left: auto;
		@include row(flex-end, center, nowrap);
		a {
			margin: 0.5rem;
		}
	}
}
