$bg: #fcfcfc;
$fg: #e9e9e9;
$text: #021929;
$text-secondary: #192934;
$primary: #3da9fc;
$primary-dark: #094067;
$primary-light: #83ccf4;
$accent: #ef4565;
$link: #0645ad;
$font-title: "Open Sans", sans-serif;
$font-body: "Helvetica", sans-serif;
