@use "../var";
header {
	@include row(space-between, center, nowrap);
	width: 100%;
	color: var.$text;
	padding: 0.5rem 1rem;
	.content {
		img {
			height: 2rem;
		}
		@include row(flex-start, center, nowrap);
	}
	.links {
		@include row(flex-end, center, nowrap);
		a {
			margin: 0.5rem;
		}
	}
}
