@mixin text($family, $size, $weight) {
	font-family: $family !important;
	font-size: $size !important;
	font-weight: $weight !important;
}
@mixin row($justify, $align, $wrap) {
	display: flex;
	flex-direction: row;
	justify-content: $justify;
	align-items: $align;
	flex-wrap: $wrap;
}
@mixin column($justify, $align, $wrap) {
	display: flex;
	flex-direction: column;
	justify-content: $justify;
	align-items: $align;
	flex-wrap: $wrap;
}
